# 2. 출생아 수 및 합계 출산율
ex) 합계 출산율 이란?  
ex) 한 여자가 가임기간(15~49세)에 낳을 것으로 기대되는 평균 출생아 수

In [6]:
import pandas as pd
df = pd.read_excel('142801_20230627011322300_excel.xlsx', skiprows=2, nrows=2, index_col=0)
df

C:\Users\yacmo\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
출생아 수,484.600,436.500,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600
합계 출산율,1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808

In [10]:
# df.loc['출생아 수'] << 에러가 날경우 인덱스 벨류 값을 확인해서 유니코드 값이 들어가 있는지 확인하고 이름을 바꿔 주던지 유니코드 값 이름으로 지정해서 사용할수 있다.
# 이번 강의에서는 이름을 바꾸어 사용하는 방법을 이용하였다.
df.index

Index(['출생아 수', '합계 출산율'], dtype='object')

In [9]:
df.index.values

array(['출생아\xa0수', '합계\xa0출산율'], dtype=object)

In [15]:
df.rename(index={'출생아\xa0수':'출생아 수', '합계\xa0출산율':'합계 출산율'}, inplace=True)
df

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
출생아 수,484.600,436.500,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600
합계 출산율,1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808

In [16]:
df.index.values

array(['출생아 수', '합계 출산율'], dtype=object)

In [17]:
df.loc['출생아 수']

2012    484.6
2013    436.5
2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
Name: 출생아 수, dtype: float64

In [18]:
df.iloc[0] # 인덱스 넘버로 가는 오는 방법도 있다.

2012    484.6
2013    436.5
2014    435.4
2015    438.4
2016    406.2
2017    357.8
2018    326.8
2019    302.7
2020    272.3
2021    260.6
Name: 출생아 수, dtype: float64

In [19]:
df

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
출생아 수,484.600,436.500,435.400,438.400,406.200,357.800,326.800,302.700,272.300,260.600
합계 출산율,1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808

In [20]:
df.T # row 와 column 자리를 바꿔주는 기능이 있다.

      출생아 수  합계 출산율
2012  484.6   1.297
2013  436.5   1.187
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808

In [23]:
df = df.T
df

      출생아 수  합계 출산율
2012  484.6   1.297
2013  436.5   1.187
2014  435.4   1.205
2015  438.4   1.239
2016  406.2   1.172
2017  357.8   1.052
2018  326.8   0.977
2019  302.7   0.918
2020  272.3   0.837
2021  260.6   0.808

In [ ]:
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 15
matplotlib.rcParams['axes.unicode_minus'] = False